@font-face {
  font-family: "font_family"; /* Project id 4219767 */
  src: url('iconfont.woff2?t=1709519874322') format('woff2'),
       url('iconfont.woff?t=1709519874322') format('woff'),
       url('iconfont.ttf?t=1709519874322') format('truetype');
}

.font_family {
  font-family: "font_family" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zhanghuguanli:before {
  content: "\e635";
}

.icon-tuichu:before {
  content: "\e636";
}

.icon-dengji:before {
  content: "\e634";
}

.icon-BIMmoxingjicheng1:before {
  content: "\e628";
}

.icon-fanhui:before {
  content: "\e632";
}

.icon-a-guanbi11:before {
  content: "\e633";
}

.icon-yichu:before {
  content: "\e620";
}

.icon-quxiaoguidang:before {
  content: "\e625";
}

.icon-guidang:before {
  content: "\e626";
}

.icon-quanbuwenjian:before {
  content: "\e627";
}

.icon-kuaijiefangwen:before {
  content: "\e629";
}

.icon-quanbuwenjian2:before {
  content: "\e62a";
}

.icon-kuaijiefangwen2:before {
  content: "\e62b";
}

.icon-chakan:before {
  content: "\e62c";
}

.icon-a-xiazai1:before {
  content: "\e62d";
}

.icon-a-shanchu11:before {
  content: "\e62e";
}

.icon-shoucang-1:before {
  content: "\e62f";
}

.icon-BIMmoxingguanli:before {
  content: "\e630";
}

.icon-shoucang:before {
  content: "\e631";
}

.icon-yincangpouqie:before {
  content: "\e618";
}

.icon-shiyingmoxing:before {
  content: "\e624";
}

.icon-mulushu:before {
  content: "\e622";
}

.icon-shikou:before {
  content: "\e623";
}

.icon-weizhi1:before {
  content: "\e621";
}

.icon-zhongzhimoxing:before {
  content: "\e619";
}

.icon-a-sousuo3:before {
  content: "\e61a";
}

.icon-a-guanbi1:before {
  content: "\e61b";
}

.icon-bianji1:before {
  content: "\e61c";
}

.icon-a-fanhui4:before {
  content: "\e61d";
}

.icon-a-fanhui2:before {
  content: "\e61e";
}

.icon-shanchu1:before {
  content: "\e61f";
}

.icon-shanchu:before {
  content: "\e614";
}

.icon-tianjiabumen:before {
  content: "\e615";
}

.icon-tianjiazibumen:before {
  content: "\e616";
}

.icon-bianji:before {
  content: "\e617";
}

.icon-gongchengwendang:before {
  content: "\e613";
}

.icon-BIMmoxingjicheng:before {
  content: "\e611";
}

.icon-BIMwenjianguanli:before {
  content: "\e612";
}

.icon-youjiantou:before {
  content: "\e610";
}

.icon-wenjian:before {
  content: "\e60d";
}

.icon-a-Property111:before {
  content: "\e60e";
}

.icon-a-Property112:before {
  content: "\e60f";
}

.icon-a-9:before {
  content: "\e600";
}

.icon-a-1:before {
  content: "\e601";
}

.icon-a-7:before {
  content: "\e602";
}

.icon-a-10:before {
  content: "\e603";
}

.icon-a-3:before {
  content: "\e604";
}

.icon-a-8:before {
  content: "\e605";
}

.icon-a-4:before {
  content: "\e606";
}

.icon-a-41:before {
  content: "\e607";
}

.icon-a-2:before {
  content: "\e608";
}

.icon-a-6:before {
  content: "\e609";
}

.icon-a-42:before {
  content: "\e60a";
}

.icon-a-43:before {
  content: "\e60b";
}

.icon-a-5:before {
  content: "\e60c";
}

